.hire {
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
  font-weight: bold;
}
.profile {
  padding: 20px 0;
  width: 100%;
  padding-right: 235px;
}
.hire:hover {
  transform: scale(1.1);
  background-color: rgb(185, 226, 245);
  border-color: yellow;
}
.profilecontainer {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.rowprofile {
  margin: auto;
  border-radius: 20px;
  border-color: dodgerblue;
  margin-left: 20px;
  
}

.imagerow {
  margin: auto;
}
.image {
  width: 300px;
  margin-left: 60px;
}
@media (max-width: 768px) {
  .profile {
    padding: 20px 0;
    width: 100%;
  }
}
