.reset1{
    border-radius: 20px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-weight: bolder;
    font-size: x-large;
}
.reset2{
    margin-top: 20px;
}
.resetbtn{
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 20px;
    font-size:large;
    margin-bottom: 30px;
}
.resetbtn:hover{
    background-color: red;
    cursor: pointer;
}
.reset3{
    border-radius: 20px;
    padding: 9px;
    height: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    width: 40%;
}